<% var title = 'Title'; %>
<% var description = 'Description'; %>
<% var path = '.'; %>

<% include components/_head %>

<% include components/_header %>

<main class="main">
  detail content
</main>

<% include components/_footer %>
