<% var title = 'Title'; %>
<% var description = 'Description'; %>
<% var path = '.'; %>

<%- include('components/_head', {path, title, description}); %>

<%- include('components/_header'); %>

<main class="main">
  main content
</main>

<%- include('components/_footer'); %>
